api-doc-*
*.avro
*.bc
*.blend1
blender
build
build2
*.chrome
crashdumps
*.d
data.ir
*.dll
doc.json
doc.md
*.download
engine
esp
*.exe
*.exp
*.htdump
*.htdump.gz
launcher.AppImage
*.lib
linux_old
*.ll
manifest.json
*.map
models
nie.elf
nieW.zip
nie.zip
nif
*.o
plugin_code
releasecache
releaselcache
savefile
savefile.git
screenshot.*.png
sfm
sims4
*.so
*.srl
.*.swp
symbols
*.tar
*.tar.bz2
trace_processor
*.unqlite*
version.inc
.vscode
windows2
.xmake
ztop_other_stuff
